.flexBox {
    display: flex;
}

.headerTop {
    justify-content: space-between;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1) ;
}

.headerTop ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.headerTop ul li {
    padding: 0 5px;
}
.headerTop p {
    font-weight: 700;
}
.headerTop p a{
    color: #1dd1a1;
    text-decoration: none;
    margin-left: 5px;
}

.borderL {
    border-left: 1px solid rgba(0,0,0,0.3) ;
}

.borderR {
    border-right: 1px solid rgba(0,0,0,0.3) ;
}

.headerMid {
    margin-top: 1.2rem;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1) ;
    align-items: center;
}

.headerMid img {
    max-width: 150px;
}

.headerMid ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 29%;
    align-items: center;
}

.headerMid ul li {
    padding: 0 5px;
}

.searchBar {
    margin-left: 5%;
    max-width: 500px;
}
