#productsArr {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
    padding-top: 2rem;
}

.productCard {
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
}

.productCard:hover {
   box-shadow:  2px 1px 6px 2px rgb(0 0 0 / 20%);
}

.prodThumb {
    max-height: 200px;
}
.brand {
    font-size: 0.8rem;
}
.name, .brand {
    text-align: start;
}
.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-weight: 600;
}

.cartButton {
    outline: none;
    border: none;
    padding: 0.5rem 1.6rem;
    border-radius: 5px;
    background-color: #1dd1a1;
    color: #fff;
    cursor: pointer;
}
.name {
    text-overflow: ellipsis;
    max-width: 200px;
    text-transform: capitalize;
}